.container{
    margin: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-top: 50px;
    width: 70%;
}

.addButton{
    margin-left: 93%;
    position: fixed;
    bottom: 20px;
}


