#addNote{
    width: 40%;
    margin: 20px auto;
    padding: 5px;
    border-radius: 15px;
}
p{
    font-weight: bold;
}

button{
    background-color: #283593;
    color: white;
}
.formField{
    width: 90%;
}
.radio-button{
    margin-right: 15px;
    margin-bottom: 15px;
}
#icon-button{
    font-size: 20px;
}