<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="'navigation'"
      [mode]="'side'"
      [opened]="false">
    <mat-nav-list>
      <a mat-list-item href="/">
        <mat-icon class="icon">home</mat-icon>Home
      </a>
      <a mat-list-item href="#">
        <mat-icon class="icon">add</mat-icon>New Note
      </a>
      <a mat-list-item href="#">
        <mat-icon class="icon">subscriptions</mat-icon>Archives
      </a>
      <a mat-list-item href="#">
        <mat-icon class="icon">settings</mat-icon>Settings
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="header" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="notes" id="title"><span>Keep Note</span></a>
      <app-header></app-header>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
