<div>
  <h2 id="form-header">Edit Note</h2>
  <form [formGroup]="formEdit" (ngSubmit)="editNote(formEdit)" id="edit-form">
    <mat-form-field appearance="fill">
      <mat-label>Note Title</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Note Content</mat-label>
      <textarea matInput type="text" formControlName="content"></textarea>
    </mat-form-field>
    <div>
      <button [disabled]="!formEdit.valid" mat-raised-button type="submit">
        Save
      </button>
    </div>
  </form>
</div>
